<section class="operation-create m-5">
    <h1 class="pt-5">Создание дохода / расхода</h1>
    <div class="input flex-nowrap w-75 mt-5">
        <input type="text" class="form-control" placeholder="Название..." id="operationCreateInputName">
        <span id="operationCreateInputName-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationCreateInputName"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Категория..." id="operationCreateInputCategory">
        <span id="operationCreateInputCategory-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationCreateInputCategory"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Сумма в $..." id="operationCreateInputAmount">
        <span id="operationCreateInputAmount-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationCreateInputAmount"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Дата..." id="operationCreateInputDate">
        <span id="operationCreateInputDate-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationCreateInputDate"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Комментарий..." id="operationCreateInputComment">
        <span id="operationCreateInputComment-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationCreateInputComment"></label>
    </div>
    <div class="btns">
        <button type="button" class="btn btn-success me-2" id="createButton">Создать</button>
        <a href="/operation" class="btn btn-danger mt-sm-0 mt-2">Отмена</a>
    </div>
</section>