<section class="operation-edit m-5">
    <h1 class="pt-5">Редактирование дохода / расхода</h1>
    <div class="input flex-nowrap w-75 mt-5 mb-4">
        <select class="form-control" id="operationEditSelectType">
            <option>expense</option>
            <option>income</option>
        </select>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Категория..." id="operationEditInputCategory">
        <span id="operationEditInputCategory-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationEditInputCategory"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Сумма в $..." id="operationEditInputAmount">
        <span id="operationEditInputAmount-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationEditInputAmount"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" id="airDatepicker" class="form-control" placeholder="Дата...">
        <span id="operationCreateInputDate-error" class="error invalid-feedback">Заполните поле</span>
        <label for="airDatepicker"></label>
<!--        <input type="date" class="form-control" placeholder="Дата..." id="operationEditInputDate">-->
<!--        <span id="operationEditInputDate-error" class="error invalid-feedback">Заполните поле</span>-->
<!--        <label for="operationEditInputDate"></label>-->
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Комментарий..." id="operationEditInputComment">
        <span id="operationEditInputComment-error" class="error invalid-feedback">Заполните поле</span>
        <label for="operationEditInputComment"></label>
    </div>
    <div class="btns">
        <button type="button" class="btn btn-success me-2" id="updateButton">Сохранить</button>
        <a href="/operation" class="btn btn-danger">Отмена</a>
    </div>
</section>