<section class="main m-5">
    <h1 class="pt-5">Главная</h1>
    <div class="time-interval mt-5">
        <input type="checkbox" class="btn-check" id="checkboxToday" autocomplete="off" checked>
        <label class="btn btn-outline-secondary me-3" for="checkboxToday" style="width: 100px;">Сегодня</label>

        <input type="checkbox" class="btn-check" id="checkboxWeek" autocomplete="off">
        <label class="btn btn-outline-secondary me-3" for="checkboxWeek" style="width: 100px;">Неделя</label>

        <input type="checkbox" class="btn-check" id="checkboxMonth" autocomplete="off">
        <label class="btn btn-outline-secondary me-3" for="checkboxMonth" style="width: 100px;">Месяц</label>

        <input type="checkbox" class="btn-check" id="checkboxYear" autocomplete="off">
        <label class="btn btn-outline-secondary me-3" for="checkboxYear" style="width: 100px;">Год</label>

        <input type="checkbox" class="btn-check" id="checkboxAll" autocomplete="off">
        <label class="btn btn-outline-secondary me-3" for="checkboxAll" style="width: 100px;">Все</label>

        <input type="checkbox" class="btn-check" id="checkboxInterval" autocomplete="off">
        <label class="btn btn-outline-secondary me-3" for="checkboxInterval" style="width: 100px;">Интервал</label>

        <div class="d-inline-block">
            с
            <input type="text" id="airDatepicker" class="form-control d-inline-block me-3" style="width: 109px; border: none; text-decoration: underline;" placeholder="Дата">
            <!--            <button type="button" class="btn btn-link text-secondary" style="width: 100px;">Дата</button>-->
            по
            <input type="text" id="airDatepicker2" class="form-control d-inline-block me-3" style="width: 109px; border: none; text-decoration: underline;" placeholder="Дата">
            <!--            <button type="button" class="btn btn-link text-secondary" style="width: 100px;">Дата</button>-->
        </div>
    </div>

    <div class="information d-flex justify-content-between mt-5">
        <div class="information-income">
            <img class="mb-5" src="/images/income.png" alt="Income">
        </div>
        <div class="divider"></div>
        <div class="information-expense">
            <img class="mb-5" src="/images/expense.png" alt="Expense">
        </div>
    </div>
</section>