<section class="income-edit m-5">
    <h1 class="pt-5">Редактирование категории доходов</h1>
    <div class="input flex-nowrap w-75 mt-5">
        <input type="text" class="form-control" placeholder="Название..." id="incomeEditInput">
        <span id="incomeEditInput-error" class="error invalid-feedback">Заполните поле</span>
        <label for="incomeEditInput"></label>
    </div>
    <div class="btns">
        <button type="button" class="btn btn-success me-2" id="updateButton">Сохранить</button>
        <a href="/income" class="btn btn-danger mt-sm-0 mt-2">Отмена</a>
    </div>
</section>