<section class="income_expenses-create m-5">
    <h1 class="pt-5">Создание дохода / расхода</h1>
    <div class="input flex-nowrap w-75 mt-5">
        <input type="text" class="form-control" placeholder="Название..." id="income_expenses-create-input-name">
        <label for="income_expenses-create-input-name"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Категория..." id="income_expenses-create-category">
        <label for="income_expenses-create-category"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Сумма в $..." id="income_expenses-create-amount">
        <label for="income_expenses-create-amount"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Дата..." id="income_expenses-create-date">
        <label for="income_expenses-create-date"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Комментарий..." id="income_expenses-create-comment">
        <label for="income_expenses-create-comment"></label>
    </div>
    <div class="btns">
        <a href="/" class="btn btn-success me-2">Создать</a>
        <a href="/" class="btn btn-danger mt-sm-0 mt-2">Отмена</a>
    </div>
</section>