<section class="income_expensive-create m-5">
    <h1 class="pt-5">Создание дохода / расхода</h1>
    <div class="input flex-nowrap w-75 mt-5">
        <input type="text" class="form-control" placeholder="Название..." id="income_expensive-create-input-name">
        <label for="income_expensive-create-input-name"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Категория..." id="income-create-input-category">
        <label for="income-create-input-category"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Сумма в $..." id="income-create-input-amount">
        <label for="income-create-input-amount"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Дата..." id="income-create-input-date">
        <label for="income-create-input-date"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Комментарий..." id="income-create-input-comment">
        <label for="income-create-input-comment"></label>
    </div>
    <div class="btns">
        <a href="/" class="btn btn-success me-2">Создать</a>
        <a href="/" class="btn btn-danger">Отмена</a>
    </div>
</section>