<section class="income_expenses-edit m-5">
    <h1 class="pt-5">Редактирование дохода / расхода</h1>
    <div class="input flex-nowrap w-75 mt-5">
        <input type="text" class="form-control" placeholder="Название..." id="income_expenses-edit-input-name" value="Доход">
        <label for="income_expenses-edit-input-name"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Категория..." id="income_expenses-edit-category" value="Зарплата">
        <label for="income_expenses-edit-category"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Сумма в $..." id="income_expenses-edit-amount" value="500$">
        <label for="income_expenses-edit-amount"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Дата..." id="income_expenses-edit-date" value="11.09.2022">
        <label for="income_expenses-edit-date"></label>
    </div>
    <div class="input flex-nowrap w-75">
        <input type="text" class="form-control" placeholder="Комментарий..." id="income_expenses-edit-comment">
        <label for="income_expenses-edit-comment"></label>
    </div>
    <div class="btns">
        <a href="/" class="btn btn-success me-2">Создать</a>
        <a href="/" class="btn btn-danger">Отмена</a>
    </div>
</section>